.full-width {
  width: 100%;
  padding: 0;
  margin: 0;
}

.no-margin {
  margin: 0;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-border {
  border: none;
}

.text-small {
  font-size: 0.95em;
}

.relative {
  position: relative;
}

.gradient {
  background: @brand-secondary;
  background: -moz-linear-gradient(45deg, @brand-secondary 0%, @brand-primary 100%);
  background: -webkit-linear-gradient(45deg, @brand-secondary 0%, @brand-primary 100%);
  background: linear-gradient(45deg, @brand-secondary 0%, @brand-primary 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@brand-secondary', endColorstr='@brand-primary', GradientType=1);
}
